#{extends 'main.html' /}
<h3 class="alert alert-warning">Currently in closed beta. Come back soon!</h3>

<header class="jumbotron subhead" id="overview">
    <h1>Where Was I?</h1>
    <h6>A Simple, Little Question</h6>
  <p class="lead">
      We all know the problem. You want to watch an episode of a tv series that 
      you haven't watched for a while and you can't remember at which episode 
      you've stopped. This service will help you to track the tv episodes you've watched already.
      
  </p>
</header>
<h4 class="well">Relying on the <a href="http://series-ortiz.rhcloud.com">Series-API</a> and the <a href="https://openshift.redhat.com/app/">Openshift PaaS</a> - services</h4>
