#{extends 'main.html' /}
#{set nav:'tvseries' /}
<h1>Search for Tv-Series</h1>
<form class="form-search">
    <input class="search-query" id="search-field" type="text"/> <button type="submit" class="btn btn-primary" id="search-btn">Search <i class="icon-white icon-search"></i></button>
</form>
<img id="loadImg" src="@{'public/img/loading.gif'}" style="display:none"/>
<div id="search-result"> 
</div>
#{if jsonSeries != '[]'}
<h1 id="popSeriesHeader">Popular Series</h1>

<div class="alert alert-info" style="margin-top:10px" id="loadingMessage">
    <i class="icon-eye-open"></i> <strong>&nbsp;&nbsp;Hold on please. Looking up popular series...  </strong>
</div>
<div class="row" style="margin-top:10px">

    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
</div>
<div class="row">
    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
</div>
<div class="row">
    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
    <div class="popseries span4"></div>
</div>
<script type="text/javascript">
    var popseries = ${jsonSeries.raw()};
    var iExt = 0;
    
    
    for (var i = 0; i < popseries.length; i++) 
    {
        $.get("http://series-ortiz.rhcloud.com/series/" + popseries[i].serviceSeriesId + "/info?s=thetvdb",
        function(series){
            $($(".popseries")[iExt]).html('<h2>' + series.name+'</h2>' + (series.description == null ? 'Currently no description available.' : series.description));

            
            if (iExt == popseries.length - 1)
                $("#loadingMessage").fadeOut("fast");
            iExt++;
           
        }, "jsonp");
        
    }
</script>
#{/if}

<script type="text/javascript">
    
    $("#search-btn").click(function()
    {
        
        if ($("#search-field").val() != "") 
        {
            
            $("#search-result").fadeOut("fast");
            $("#loadImg").toggle();
            $.get("http://series-ortiz.rhcloud.com/series?name=" + $("#search-field").val() + "&s=thetvdb",
            function(series){
           
                $("#search-result").html("");
            
                if (series == undefined || series.length == 0) {
                    $("#search-result").html('<div class="alert alert-danger">No search results</div>');
                }
                else
                    for (var i = 0; i < series.length; i++)
                {
                    $("#search-result").append('<div><div><span style="font-weight:bold;font-size:x-large;vertical-align:middle">' + series[i].name + '</span>&nbsp;&nbsp;<a href="#" data-loading-text="Adding it..." id="' 
                        + series[i].id + '" class="btn add-series"><i class="icon-plus"></i> Add To <i>My Series</i></a></div>' 
                        + (series[i].description != null ? '<div style="margin-top:10px">' : '<div>') + (series[i].description != null ? series[i].description : "")  + '</div></div><hr class="soften"/>');
                }

                $("#loadImg").toggle();
                $("#search-result").fadeIn();
            
            }, "jsonp");     
        }
    
        return false;
    });

    $(".add-series").live('click', function()
    {
        var button = $(this);
        button.button('loading');
        var id = $(this).attr('id');
        var btn = $(this);
        $.post("/series/my/add/"+id+"/${session.getAuthenticityToken()}",
        function(result){
            if (result.response == "nothing")
            {
                btn.fadeOut("fast");
                alert("Already available in \"My Series\"");
            }
            else if (result.response == "added")
            {
                btn.fadeOut("fast");
            }
            
        });
        return false;
    });
</script>