#{extends 'main.html' /}
#{set nav:'myseries' /}
<p>
    <a href="@{Series.userSeries}" class="btn"><i class="icon-list"></i> My Series</a>
</p>
<div class="alert alert-info" id="loadingMessage">
    <i class="icon-eye-open"></i> <strong>&nbsp;&nbsp;Hold on please. Looking up series data for <i>"${ serviceSeriesId }"</i>...</strong>  
</div>
<div class="series" stlye="display:none" id="${serviceSeriesId}">
    <h1 id="seriestitle"></h1>
    <h6 id="description"></h6>
    <hr class="soften"/>
    <div class="tabbable" id="seasontabs" style="display:none">
        <ul class="nav nav-tabs">
        </ul>
        <div class="tab-content">

        </div>
    </div>
</div>

<script>

    var seenEpisodes = ${json.raw()};
    seriesId = "${serviceSeriesId}";
    
    $(function()
    {
        $("#discussionModal").modal({ backdrop: false });
        $("#discussionModal").modal("hide");
        
        $.get("http://series-ortiz.rhcloud.com/series/" + seriesId + "?s=thetvdb",
        function(series){
            $("#loadingMessage").fadeOut("fast", function()
            {

                $("#seriestitle").text(series.name + " (" + (series.fromYear == 0 ? "No Date Available" : series.fromYear ) + ")" );
                $("#description").text(series.description);
                
                for (var i = 0; i < series.seasons.length; i++)
                {
                    var number = series.seasons[i].number;
                    $("#seasontabs .nav-tabs").append('<li><a href="#' + number + 
                        '" data-toggle="tab">Season ' + number + '</a></li>');
                    
                    $("#seasontabs .tab-content").append('<div class="tab-pane" id="' + 
                        number + '"><h3>Episodes: ' + series.seasons[i].episodes.length + 
                        '</h3>' +
                        '<div class="btn-group" style="margin-top:10px;margin-bottom:10px">' +
                        '<button class="btn btn-seen-season"><i class="icon-eye-open"></i> I`ve seen this season</button>' +
                        '<button href="#" class="btn btn-notseen-season">I`ve not seen this season <i class="icon-eye-close"></i></button>' +
                        '</div>' +
                        '<div class="episodes"></div></div>');   
                    
                    $("#seasontabs .tab-content .tab-pane[id=" + number + "] .episodes").append("<table class='table table-striped table-bordered table-condensed'><thead><tr><th></th><th>No</th><th style='min-width:100px;'>Name</th><th>Description</th><th></th></tr></thead><tbody></tbody></table>");
                    
                    for (var j = 0; j < series.seasons[i].episodes.length; j++)
                    {
                        var episode = series.seasons[i].episodes[j];
                        var seen = false;
                        
                        for (var k = 0; k < seenEpisodes.length; k++) {
                            if (seenEpisodes[k].episodeNumber == episode.number && seenEpisodes[k].seasonNumber == number)
                            {
                                seen = true;
                            }
                        }
                        
                        if (seen == true) {
                            $("#seasontabs .tab-content .tab-pane[id=" + number + "] .episodes table tbody").append('<tr><td style="vertical-align: middle;"><a class="btn-track btn btn-success" data-loading-text="..." id="${ serviceSeriesId };' + number + ';' + episode.number + '" href="#"><i class="icon-eye-open icon-white"></i></a></td><td>' + episode.number + '</td><td>' + (episode.name == null ? "Currently no name available." : episode.name) + '</td><td>' + (episode.description == null ? "Currently no description available." : episode.description) + '</td><td><a class="btn discussEpisode" data-identifier="'+ series.name + ' ' + series.fromYear + ' Season ' + number + ' Episode ' + episode.number + ' ' + episode.name +'" href="#discussion" >Discuss</a></td></tr>');
                        }
                        else
                            $("#seasontabs .tab-content .tab-pane[id=" + number + "] .episodes table tbody").append('<tr><td style="vertical-align: middle;"><a class="btn-track btn btn-danger" data-loading-text="..." id="${ serviceSeriesId };' + number + ';' + episode.number + '" href="#"><i class="icon-eye-close icon-white"></i></a></td><td>' + episode.number + '</td><td>' + (episode.name == null ? "Currently no name available." : episode.name) + '</td><td>' + (episode.description == null ? "Currently no description available." : episode.description) + '</td><td><a class="btn discussEpisode" data-identifier="'+ series.name + ' ' + series.fromYear + ' Season ' + number + ' Episode ' + episode.number + ' ' + episode.name +'" href="#discussion" >Discuss</a></td></tr>');
                    }

                }

                $("#seasontabs .nav-tabs").children(":nth-child(1)").addClass("active");
                $("#seasontabs .tab-content").children(":nth-child(1)").addClass("active");
                
                $("#${serviceSeriesId}").fadeIn("fast");
                $("#seasontabs").fadeIn("fast");
                
            });
            
        }, "jsonp");
        
        $(".btn-track").live("click", function()
        {
            var button = $(this);
            button.button("loading");
            
            var ids = $(this).attr('id').split(";");
            
            $.post("/series/my/track/episode/" + ids[0] + "/"  + ids[1] + "/"  + ids[2] + "/${session.getAuthenticityToken()}",
            function(result){
                button.button('reset');
                if (result.response == "removed")
                {
                    button.removeClass('btn-success');
                    button.addClass('btn-danger');
                    button.html('<i class="icon-white icon-eye-close"></i>');  
                }
                else if (result.response == "added")
                {
                    button.removeClass('btn-danger');
                    button.addClass('btn-success');
                    button.html('<i class="icon-white icon-eye-open"></i>');     
                }
            });
            
            return false;
        });
        
        $(".btn-seen-season").live("click", function()
        {
            $(this).parent().parent().find('a[class="btn-track btn btn-danger"]').click();
  
        });
        
        $(".btn-notseen-season").live("click", function()
        {
            $(this).parent().parent().find('a[class="btn-track btn btn-success"]').click();
        });
        
        $(".discussEpisode").live("click", function() {
            $("#discussionModal").modal("show");
            initDisqus($(this).attr("data-identifier"));
            
            $("#discussionHeader").text($(this).attr("data-identifier"));
            
        });
    });     
</script>

<div class="modal fade" id="discussionModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 id="discussionHeader"></h3>
    </div>
    <div class="modal-body">
        <div id="disqus_thread"></div>
    </div>
    <div class="modal-footer">
        
    </div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'wwi-wherewasi'; // required: replace example with your forum shortname
    
    function initDisqus(identifier) {
        /* * * DON'T EDIT BELOW THIS LINE * * */
        disqus_identifier = identifier;
        
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    }
</script>

